# File path: /etc/systemd/system/make-api-private.service
# sudo systemctl daemon-reload
# sudo systemctl start make-api-private
# sudo systemctl enable make-api-private
# sudo systemctl status make-api-private
[Unit]
Description=One API Service
After=network.target

[Service]
User=ubuntu  # 注意修改用户名
WorkingDirectory=/path/to/make-api-private  # 注意修改路径
ExecStart=/path/to/make-api-private/make-api-private --port 3000 --log-dir /path/to/make-api-private/logs  # 注意修改路径和端口号
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

